/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-fundo2: #EAF2FD;
   --cor-de-fundo-bloco: #FFFFFF;
   --cor-de-link: #464646;
   --cor-de-texto: #464646;
   --cor-da-borda-imput: #C8C8C8;
   --cor-botao-demo: #2A7AE4;
   --cor-botao-demo-hover: #D4E4FA;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow-x: hidden;
}
ol, ul, li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/* Mobile */

.all {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-de-texto);
 }

 /*Sessão Menu*/

 .menu {
    width: 100%;
 }

 .menu__header {
    
     height: 60px;
     padding: 0 16px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 14px;
 }

 .menu__title {
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .menu__title__img {
     height: 22px;
 }

 .menu__title__name {
    width: 165px;
    font-size: 14px;
 }
 
 .menu__list {
     display: none;
 }
 
 /*Sessão Title*/
 
 section.title{
    padding: 16px;
 }
 
 .title__div {
    display: flex;
    flex-direction: column;
    gap: 16px;
 }
 
 .title__container {
     display: flex;
     flex-direction: column;
     gap: 16px;
 }

 .title__container h2,
 .title__container h3 {
     margin: 0;
 }
 
 .title__profile {
     width: 100px;
     border-radius: 100%;
 }
 
 .title__bio {
     font-size: 22px;
     font-weight: bold;
 }
 
 .title__subsection {
     font-size: 14px;
     font-weight: normal;
 }
 
 .title__network {
     margin: 0;
     display: flex;
     padding-inline-start: 0;
     justify-content: flex-start;
     gap: 8px;
     font-size: 14px;
     font-weight: 600;

 }
 
 /*Sessão About*/
 
 section.about{
     padding: 16px;
     background-color: var(--cor-de-fundo2);
 }
 
 .about__container {
     display: flex;
     flex-direction: column;
     gap: 16px;
 }

 .about__container h3,
 .about__container p {
    margin: 0;
 }

 .about__title {
    font-size: 22px;
 }

 .about__paragraph {
    font-size: 14px;
 }

 .about__container img {
    width: 45%;
 }
 
 /* Sessão Skills */
 
 section.skills {
     padding: 16px;
 }

 .skills__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
 }
 
 .skills__title {
     margin: 0;
     text-align: left;
     font-size: 22px;
 }
 
 .skills__line {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 32px 16px;
 }
 
 .skills__box {
    display: flex;
    width: 156px;
    height: 118px;
    background-color: var(--cor-de-fundo-bloco);
    font-size: 16px;
    font-weight: bold;
 }
 
 .skills__box ul {
     align-self: end;
     margin: 16px;
     padding-inline-start: 0;
 }
 
 .skills__img {
     padding-bottom: 8px;
 }
 
 /*Sessão Hobbies*/
 
 section.hobbies{
     padding: 16px;
 }
 
 .hobbies__title {
    display: flex;
    flex-direction: column;
    gap: 32px;
 }
 
 .hobbies__line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px 16px;
    align-items: center;
 }
 
 .hobbies__box {
    display: flex;
    width: 156px;
    height: 118px;
    background-color: var(--cor-de-fundo-bloco);
    font-size: 16px;
    font-weight: bold;
 }
 
 .hobbies__box ul {
    align-self: end;
    margin: 16px;
    padding-inline-start: 0;
 }
 
 .hobbies__img {
    padding-bottom: 8px;
 }
 
 /* Experiência Acadêmica*/
 
 section.academic{
     width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 32px;
     padding: 32px 0;
     background-color: var(--cor-de-fundo2);
 }
 
 .academic__title {
     text-align: center;
     font-size: 22px;
     margin: 0;
     padding: 0 32px;
 }
 
 .academic__courses {
     padding: 0 32px;
     display: flex;
     flex-direction: column;
     gap: 16px;
 }
 
 .academic__courses__box {
     display: flex;
     flex-direction: column;
 }
 
 .academic__courses__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-inline-start: 0;
    margin: 0;

 }
 
 .academic__courses__list li,
 .academic__courses__list h4,
 .academic__courses__list p {
        margin: 0;
    }
 
 .academic__courses__item__img {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 118px;
     background-color: var(--cor-de-fundo-bloco);

 }

 .academic__courses__item__img img {
    height: 40%;
 }

 .academic__courses__item__title {
    font-size: 16px;
    font-weight: bold;
 }

 .academic__courses__item__subtitle {
    font-size: 14px;
    font-weight: 500;
 }
 
 /* experiência*/
 
 section.experience{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0;
 }
 
 .experience__section__title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0 32px;
 }

 .experience__section {
    display: flex;
    flex-direction: column;
    gap: 64px;
 }
 
 .experiencie__box {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    gap: 16px;
 }

 .experience__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
 }
 
 .experience__title {
    font-size: 16px;
    font-weight: bold;
 }

 .experience__text {
    font-size: 14px;
    font-weight: 500 ;
 }
 
 .experiencie__box h2,
 .experiencie__box h3 {
    margin: 0;
 }

 .experience__description {
    display: flex;
    gap: 16px;
 }

 .experiencia__botao--repo {
     width: 108px;
     height: 40px;
     border: 2px solid;
     border-color: var(--cor-botao-demo);
     color: var(--cor-botao-demo);
     font-family: "Raleway";
     font-weight: 700;
     font-size: 14px;
     background-color: var(--cor-de-fundo);
 }

 .experiencia__botao--repo:hover {
     border: none;
     color: var(--cor-de-fundo-bloco);
     font-family: "Raleway";
     font-weight: 600;
     font-size: 14px;
     background-color: var(--cor-botao-demo);
 }
 
 .experiencia__botao--demo {
     width: 96px;
     height: 40px;
     border: none;
     color: var(--cor-de-fundo-bloco);
     font-family: "Raleway";
     font-weight: 500;
     font-size: 14px;
     background-color: var(--cor-botao-demo);
 }

 .experiencia__botao--demo:hover {
     border: 2px solid;
     border-color: var(--cor-botao-demo);
     color: var(--cor-botao-demo);
     font-family: "Raleway";
     font-weight: 500;
     font-size: 14px;
     background-color: var(--cor-botao-demo-hover);
 }
 
 /*Contato*/
 
 section.formcontato{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 32px 0;
     background-color: var(--cor-de-fundo2);
 }
 
 .formcontato__contacto {
      display: flex;
      flex-direction: column;
      padding: 0 32px;
 }

 .formcontato__esquerda {
    display: none;
 }
 
 .formcontato__title{
    margin-top: 0;
    margin-bottom: 10px;
 }
 
 .formcontato__text h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
 }
 
 .formcontato__form {
     margin-top: 32px;
     display: flex;
     flex-direction: column;
     gap: 32px;
 }
 
 .formcontato__input {
     width: 100%;
     height: 50px;
     border: none;
     padding: 5px;
     border-bottom: 1px solid var(--cor-da-borda-imput);
     border-radius: 4px;
     font-family: "Raleway";
     font-weight: 500;
     font-size: 16px;
     caret-color: var(--cor-botao-demo);
     outline-color: var(--cor-botao-demo);
 }
 
 .formcontato__input::placeholder {
     font-family: "Raleway";
     font-size: 12px;
     position: absolute;
     top: 8px; 
     left: 12px;
 }
 
 #email::placeholder {
     font-family: "Raleway";
     font-size: 12px;
     color: var(--cor-botao-demo);
     position: absolute;
     top: 8px; 
     left: 12px;    
 }
 
 .formcontato__textarea {
     width: 98%;
     border: none;
     border-bottom: 1px solid var(--cor-da-borda-imput);
     border-radius: 4px;
     padding: 8px 12px 8px 12px;
     font-family: "Raleway";
     font-weight: 500;
     font-size: 16px;
     caret-color: var(--cor-botao-demo);
     outline-color: var(--cor-botao-demo);
     resize: none;
 }
 
 .formcontato__botao {
     width: 151px;
     height: 40px;
     border: none;
     color: var(--cor-de-fundo-bloco);
     font-family: "Raleway";
     font-weight: 500;
     font-size: 14px;
     background-color: var(--cor-botao-demo);
 }
 
 .formcontato__botao:hover {
     border: 2px solid;
     border-color: var(--cor-botao-demo);
     color: var(--cor-botao-demo);
     font-family: "Raleway";
     font-weight: 500;
     font-size: 14px;
     background-color: var(--cor-botao-demo-hover);
 }
 
 /*footeer*/
 
 section.footer{
     width: 100%;
     padding: 32px;
     background-color: var(--cor-de-fundo-bloco);
 }
 
 .footer__rodape {
     display: flex;
     flex-direction: column;
     gap: 8px;
 }
 
 .footer__rodape p {
     margin: 0;
     text-align: center;
     font-weight: 500;
     font-size: 16px;
 }

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

    /* Menu */

    .menu__header {
        padding: 0 32px;
        font-size: 16px;
    }

    .menu__title__img {
        height: 24px;
    }

    .menu__title__name {
        font-size: 16px;
        width: auto;
    }
    
    .menu__list__item__contato {
        font-size: 16px;
        font-weight: bold;
    }

    /*title*/

    section.title {
        padding: 32px;
    }

    .title__div {
        flex-direction: row-reverse;
    }

    .title__profile {
        width: 140px;
    }

    .title__subsection {
        font-size: 16px;
        font-weight: normal;
    }

    .title__network {
        font-size: 16px;
        font-weight: 500;
        gap: 32px;
    }

    /* About */

    section.about {
        padding: 32px;
    }

    .about__container img {
        width: 20%;
    }

    /*Skills*/

    section.skills {
        padding: 32px;
    }

    .skills__title {
        text-align: center;
    }

    .skills__box {
        width: 218px;
    }

    /*Hobbies*/

    section.hobbies {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px;
    }

    .hobbies__title {
        text-align: center;
        margin: 0;
    }

    .hobbies__box {
        width: 218px;
    }

    /*Experiências acadêmicas*/

    section.academic {
        padding: 32px;
        align-items: center;
    }

    .academic__courses {
        flex-direction: row;
        padding: 0;
    }

    .academic__courses__box {
        width: 218px;
    }
    .academic__courses__item__img img {
        height: 30%;
    }

    /*Expeirência profissional*/

}

/* Desktop */

@media (min-width: 1140px) {

    /*Sessão Menu*/

    .menu {
        display: flex;
        justify-content: center;
    }

    .menu__header {
        width: 1136px;
        height: 88px;
        padding: 0;
    }

    .menu__title {
        font-size: 16px;
    }

    .menu__title__img {
        height: 24px;
    }

    .menu__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        gap:10px;
    }

    .menu__list__item__contato {
        display: none;
    }


    /*Sessão Title*/

    section.title{
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 32px;
    }

    .title__div {
        width: 1136px;
        display: flex;
        flex-direction: row-reverse;
        gap: 17px;
    }

    .title__container {
        width: 68%;
        padding: 61px 0;
        gap: 24px;
    }

    .title__profile {
        width: 30%;
        align-self: center;
        border-radius: 100%;
    }

    .title__bio {
        font-size: 52px;
    }

    .title__subsection {
        font-size: 22px;
        font-weight: normal;
    }

    .title__network {
        gap: 32px;
        font-size: medium;
        font-weight: 400;
    }

    /*Sessão About*/

    section.about{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 64px;
        background-color: var(--cor-de-fundo2);
    }

    .about__container {
        width: 1136px;
        gap: 16px;
        font-size: 16px;
        font-weight: 500;
    }

    .about__container h3,
    .about__container p {
        width: 68%;
    }

    .about__title {
        font-size: 32px;
    }

    .about__paragraph {
        font-size: 16px;
    }

    .about__container img {
        width: 10%;
    }


    /* Sessão Skills */

    section.skills {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        padding: 0;
    }

    .skills__container {
        width: 1136px;
        margin-bottom: 88px;
    }

    .skills__title {
        text-align: center;
        font-size: 32px;
    }

    .skills__line {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 16px;
    }

    .skills__box {
        display: flex;
        background-color: var(--cor-de-fundo-bloco);
        width: 176px;
        height: 174px;

    }

    .skills__box ul {
        font-size: 16px;
        font-weight: bold;
    }

    /*Sessão Hobbies*/

    section.hobbies{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        padding: 0;
    }

    .hobbies__title {
        text-align: center;
        font-size: 32px;
        margin: 0;
    }

    .hobbies__line {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 88px;
    }

    .hobbies__box {
        width: 176px;
        height: 174px;
    }

    .hobbies__box ul {
        padding:0%;
        font-size: 16px;
        font-weight: bold;
    }

    .hobbies__img {
        padding-bottom: 8px;
    }

    /* Experiência Acadêmica*/

    section.academic{
        padding: 82px;
        align-items: center;

    }

    .academic__title {
        font-size: 32px;
        padding: 0;
    }

    .academic__courses {
        width: 1136px;
        flex-direction: row;
        padding: 0;
    }

    .academic__courses__box {
        width: 33%;
    }

    .academic__courses__list {
        padding: 0;
    }

    .academic__courses__item__img {
        height: 286px;
        padding: 16px;
    }

    .academic__courses__item__img img {
        height: 70px;
    }

    .academic__courses__item__title {
        font-size: 22px;
    }

    .academic__courses__item__subtitle {
        font-size: 16px;
    }

    /* experiência*/

    section.experience{
        gap: 32px;
        align-items: center;
    }

    .experience__section__title {
        font-size: 32px;
        margin: 0;
    }

    .experience__section{
        width: 1136px;
    }

    .experiencie__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .experiencie__box img {
        width: 65%;
        border-radius: 10px;
    }

    .experiencie__box:nth-child(even) {
        flex-direction: row-reverse;
    }

    .experience__title {
        font-size: 22px;
    }

    .experience__text {
        font-size: 16px;
    }

    .experiencia__botao--repo {
        width: 116px;
        height: 51px;
        font-weight: 400;
        font-size: 16px;
    }

    .experiencia__botao--repo:hover {
        font-weight: 400;
        font-size: 16px;
    }

    .experiencia__botao--demo {
        width: 105px;
        height: 51px;
        font-weight: 400;
        font-size: 16px;
    }

    .experiencia__botao--demo:hover {
        width: 105px;
        height: 51px;
        font-weight: 400;
        font-size: 16px;
    }

    /*Contato*/

    section.formcontato{
        align-items: center;
        padding: 64px;
    }

    .formcontato__esquerda {
        display: block;
    }

    .formcontato__contacto {
        width: 1136px;
        flex-direction: row;
        gap: 16px;
        padding-top: 64px;
    }

    .formcontato__text {
        width: 60%;
    }
    .formcontato__text h2,
    .formcontato__text h3 {
        margin: 0;  
    }

    .formcontato__title {
        padding-bottom: 8px;
        font-weight: bold;
        font-size: 32px;
    }

    .formcontato__subtext {
        font-size: 16px;
    }

    .formcontato__botao {
        width: 165px;
        height: 51px;
        font-weight: 400;
        font-size: 16px;
    }

    .formcontato__botao:hover {
        font-size: 16px;
    }

    /*footeer*/

    section.footer{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer__rodape {
        width: 1136px;
    }

    .footer__rodape p {
        margin: 0;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
    }

}